 body {
  font-family: Rockwell;
            margin: 0;
            padding: 0;
background-image: url('Images/E.Rugby photo.JPG');
    background-size: auto; /* Cover the entire background */
    background-position: center; /* Center the background */
    min-height: 200vh; /* Ensure the body takes up at least the full viewport height */
   display: flex;
    flex-direction: column;

}


/* header */
header {
    background-color: #C6E2E9;
    color: #fff;
    padding: 10px;

}

header text{
color: black

}

/* search bar */
.title-and-search {
    display: flex;
    align-items: center;
  font-size: 40px;

}

.title-and-search text {
    margin-right: 20px; /* Adjust as needed */

}

.title-and-search form {
    display: flex;
    align-items: center;
}
/* Search bar input field */
.title-and-search input[type="text"] {
    padding: 8px;
    border: 10x solid #000000
    border-radius: 5x
    font-size: 16px;
    width: 500px; /* Adjust width as needed */
    height: 40px;
    border-radius: 30px;/* Increase border-radius to make corners more round */
    padding-left: 20px; /* Adjust padding-left to move where the typed text starts */

}



nav {
            background-color: #A7BED3;
            color: #fff;
            padding: 10px;
            text-align: center;

        }
nav a {
            color: #fff;
            text-decoration: none;
            padding: 5px 10px;
 	    font-size: 22px;
            margin: 10px;


        }
        nav a:hover {
            background-color: #666;
    border-radius: 30px;/* Increase border-radius to make corners more round */

      }




.welcome-page{
            padding: 5px 10px;


}

/* footer details */
.footer {
    margin-top: auto;
    background-color: #A7BED3;
    padding: 20px 0;
    color: #A7BED3;
    text-align: center;
    width: 100%;
    border-radius: 5px;


}

/* footer text*/
.footer p {
    color: #000000	;
    opacity: 1; /* Set text opacity to 1 (fully opaque) */
}



















#todo-container {
  background: rgb(41, 33, 33);
  width: 400px;
  margin: 0 auto;
  border: 2px solid #0033ff;
  padding: 20px;
  color: white;
  border-radius: 15px;
}

#header {
  margin: 5px;
  font-size: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px; 
}

#input-box {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 20px;
}

#input-button {
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2e60ea;
}

#input-button:hover {
  background-color: #9eb7fd; 
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align: left;
}

li {
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 10px;
}

.edit-btn, .delete-btn {
  float: right;
  color: crimson;
  cursor: pointer;
  margin: 3px 5px;
  border: none;
  padding: 3px 5px;
  background: none;
} 

.completed {
  text-decoration: line-through;
  color: gray;
  border: 1px solid gray;
}













